.dis{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.dis>div{
    width: 80%;
    height: fit-content;
    margin: 3% 0% 2% 0%;
    display: flex;
    flex-direction: column;
}

.dis p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.dis>div>div{
    
    display: flex;
    justify-content: space-around;
}


.search{
    text-align: center;
    width: 30%;
    display: flex;
    margin: auto;
    margin-top: 1%;
}
.search>input{
    width: 100%;
    height: 40px; 
    font-size: 20px;
    margin: auto;
    border: 1px solid rgb(127, 136, 8);
    border-radius: 30px;
}

@media screen and (max-width: 600px) {

    .dis{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    
    }

    .dis>div{
        width: 80%;
        height: fit-content;
        margin: 3% 0% 2% 8%;
        display: flex;
        flex-direction: column;
    }
   }